
.homePAge{
    
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
  background-color: #f2f2f200;
  color:white
  }

  .hiddenMiddleRoute{
    display:none;
  }
  audio::-webkit-media-controls-panel{
    background-color: #30e73900;
  }

  .cardContact{
    text-align: center;
    font-size: medium;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;   
    background-color: #0000001e;
    color:beige;
    z-index: 0;
    

  }
  
  #root{
    background-color: #cccccc00;
    z-index:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius:30px ;
  text-align: center;
  }
/* .navBar{
  background-color: #4caf4f03;
} */
nav{background-color: #504ab680;  }


  .new {
    text-align: center;
  
  }

  li {display: inline-block;}

  .spacerDIV{background-color: #0000000e;}

  
.no-bullets {
  list-style-type: none;
  background-color: rgba(47, 4, 43, 0);
  padding: 20px;
}
.links{
  padding-left: 10px;
  padding-right: 10px;
}


.links:hover{
  background-color: rgba(7, 245, 165, 0.202);
  border-radius:  10%;
  padding:10px;
  }



  .thedreamtable{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
  }

  a {
    color: rgb(255, 208, 0);
}
  :visited{color: rgb(255, 67, 99)}

  .thedreamtable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.thedreamtable tr:nth-child(even){background-color: #f2f2f2;}

.thedreamtable tr:hover {background-color: #dddddd54;}

.thedreamtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0704aa;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #555555;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #391545df;
  color: whitesmoke;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #555;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #555;
  color: whitesmoke;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #00000063;
  padding: 20px;
}



.thedreamtableSHOW {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.thedreamtableSHOW  td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  color:whitesmoke
}

.thedreamtableSHOW  tr:nth-child(even){background-color: #0814411b}
.thedreamtableSHOW  tr th {text-align: center;}

.thedreamtableSHOW tr:hover {background-color: #dc55d363;}

.thedreamtableSHOW  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #895bcf86;
}

.thedreamtable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #895bcf;
}

.thedreamtable  tr {
  text-align: center;
}


button {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;

}

.editbutton {
  width: 30%;
  background-color: #da5b16;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.delete {
  width: 30%;
  background-color: #af4c4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}


legend {
  color:#8104aa;
}


@media (min-width: 300px) and (max-width: 768px) {


  .homePAge{
  
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  
  .cardContact{
    text-align: center;
    font-size: small;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    z-index: 0;

  }

  .links{
    font-size: small;
    
  }


  button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editbutton {
    width: 100%;
    background-color: #da5b16;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete {
    width: 100%;
    background-color: #af4c4c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

}

.login{

  margin:auto
/* padding-left: 100px;
padding-right: 100px; */

}



/*  */



body{
  background-image: url("stars.png");
  background-repeat: repeat;
}
img {
  opacity: 0.9;
}

.audioCard{
  background-color: #45a04916;
}

.edit{
  background-color: #8104aa30;
}



