
.homePAge{
    
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
  background-color: #f2f2f200;
  color: #ddd;
  }
  body{color: white;}

  .hiddenMiddleRoute{
    display:none;
  }
  audio::-webkit-media-controls-panel{
    background-color: #30e73900;
  }

  .cardContact{
    text-align: center;
    font-size: medium;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;   
    background-color: #8104aa27;
    z-index: 0;
    

  }
  
  #root{
    background-color: #cccccc00;
    z-index:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius:30px ;
  text-align: center;
  }
/* .navBar{
  background-color: #4caf4f03;
} */
nav{background-color: #cccccc1a;  }


  .new {
    text-align: center;
  
  }

  li {display: inline-block;}

  .spacerDIV{background-color: #0000000e;}

  
.no-bullets {
  list-style-type: none;
  background-color: rgba(47, 4, 43, 0);
  padding: 20px;
}
.links{
  padding-left: 10px;
  padding-right: 10px;
}


.links:hover{
  background-color: rgba(7, 245, 165, 0.202);
  border-radius:  10%;
  padding:10px;
  }



  .thedreamtable{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
  }

  a {
    color: rgb(255, 208, 0);
}
  :visited{color: rgb(255, 67, 99)}

  .thedreamtable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.thedreamtable tr:nth-child(even){background-color: #f2f2f2;}

.thedreamtable tr:hover {background-color: #dddddd54;}

.thedreamtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8104aa;
  color: white;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #00ff37c5;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #3915456f;
  color: whitesmoke;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid  #00ff37c5;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #8104aa6d;
  color: whitesmoke;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #00000063;
  padding: 20px;
}



.thedreamtableSHOW {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.thedreamtableSHOW  td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  color:whitesmoke
}

.thedreamtableSHOW  tr:nth-child(even){background-color: #2e08411b}
.thedreamtableSHOW  tr th {text-align: center;}

.thedreamtableSHOW tr:hover {background-color: #dc55d363;}

.thedreamtableSHOW  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #895bcf86;
  color: white;
}

.thedreamtable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #895bcf;
  color: white;
}

.thedreamtable  tr {
  text-align: center;
}


button {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;

}

.editbutton {
  width: 30%;
  background-color: #da5b16;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.delete {
  width: 30%;
  background-color: #af4c4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}


legend {
  color:#8104aa;
}


@media (min-width: 300px) and (max-width: 768px) {


  .homePAge{
  
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  
  .cardContact{
    text-align: center;
    font-size: small;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    z-index: 0;
    color: beige;

  }

  .links{
    font-size: small;
    
  }


  button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editbutton {
    width: 100%;
    background-color: #da5b16;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete {
    width: 100%;
    background-color: #af4c4c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

}

.login{

  margin:auto
/* padding-left: 100px;
padding-right: 100px; */

}





/* *********************************************************** */

/* https://codepen.io/agoodwin/pen/NMJoER */
/*pure CSS twinkling stars background
Anastasia Goodwin */



@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
  z-index: -1;
}

.stars {

 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: -4;
}

.twinkling{

	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds{

	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}
img{

  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: -1;
  right: 20px;
}


.audioCard{
  background-color: #45a04916;
}

.edit{
  background-color: #8104aa30;
}

.everyoneHASdreams{
  color:beige;
}